h1,h2,h3 {
	margin-top: 10px;
}

/*  ---- Navbar ---- */

.collapse {
	display: block;
}

.navbar {
	background-color: rgba(44, 62, 80, .9);	
	border: 1px solid rgba(0, 0, 0, 1);
	/*border: 1px solid #2c3e50;*/
}

.navbar-brand {
	color: #fff;
}

.navbar-nav>li>a {
	color: #fff;
}

/*  ---- Home Page main content ---- */

.pageContainer {
	background-color: rgba(255, 255, 255, .8);	
	padding-top: 20px;
}

/*  ---- Jumbotron ---- */

.jumbotron {
	padding: 20px 60px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, .7);
	border-radius: 0;
}

.jumbotron img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*  ---- Well ---- */

.well {
	display: inline-block;
	border-radius: 0;
	box-shadow: none;
	margin: 20px 10px;
	background-color: rgba(255, 255, 255, .7);
}

.well p {
	line-height: 2;
	padding-top: 10px;
}

/*  ---- Images ---- */

.img-thumbnail {
	border-radius: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;	
}

ul > li {
	list-style-type: none;
}

.howPlay p {
	padding-top: 0; 
}