body {
	font-size: 18px;
}

h1,h2,h3 {
	margin-top: 10px;
}

h1 {
	font-size: 40px;
	/*font-weight: normal;*/
}

.navbar {
	background-color: rgba(44, 62, 80, .9);	
	/*border: 1px solid rgba(0, 0, 0, 1);*/
	/*border: 1px solid #2c3e50;*/
}

.navbar-brand {
	color: #fff;
}

.navbar-nav>li>a {
	color: #fff;
	font-size: 14px;
}

/*  ---- Home Page main content ---- */

.pageContainer {
	background-color: rgba(255, 255, 255, .8);	
	padding-top: 20px;
}

/*  ---- Jumbotron ---- */

.jumbotron {
	padding: 20px 60px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, .7);
	border-radius: 0;
	margin-bottom: 0;
}

.jumbotron img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*  ---- Well ---- */

.well {
	display: inline-block;
	border-radius: 0;
	border: none;
	border-top: 1px solid rgba(0, 0, 0, .1);	
	box-shadow: none;
	margin: 0 15px;
	background-color: rgba(248, 248, 248, .7);	
	
}

.newWell {
	background-color: rgba(255, 255, 255, .7);
}

.well h1 {
	margin-bottom: 15px;
}

.well p {
	line-height: 1.5;
	padding-top: 10px;
}

/*  ---- Images ---- */

.img-thumbnail {
	border-radius: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;
	background-color: transparent;
}

ul > li {
	list-style-type: none;
}

.howPlay p {
	padding-top: 0; 
}