.slider { position: relative; overflow: auto; }
.slider li { list-style: none; }
.slider ul li { float: left; }
.slider img {max-height: 400px; border-radius: 20px; -moz-border-radius:20px;-webkit-border-radius:20px;}
.slider .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.slider .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;

  text-indent: -999em;

  border: 2px solid #fff;
  border-radius: 6px;

  cursor: pointer;
  opacity: .4;

  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.slider .dots li.active {
  background: #fff;
  opacity: 1;
}